@charset "UTF-8";
body{
    /* background-color: #fffeee; */
    /* background-image: url(Cat2.jpg); */
    /* background-size: contain; */
    /* background-repeat: repeat-x; */
    /* background-position: 20px 400px; */
    }
.space{
    background: #fffeee url(Cat2.jpg) repeat-x left top/contain ;
    width: 900px;
    height: 300px;
}

html{
    font-size: 100%;
}
h1{
    color:#0bd;
    font-size: 2rem;
    /* Google Fonts の　M PLUS Rounded 1c を使用する場合 */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #faa;
}
h2{
    font-size: 20px;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}
p{
    font-size: 20px;
    font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro", sans-serif;
    font-weight: bold;
    line-height: 1.7;
    text-align: justify;
    width: 50%;
}